    p{
        text-align: center;
        font-size: 36px;
        color: rgb(226, 43, 156);
        font-weight: bolder;
        opacity: 1.5;
    }
    h3{
        color:goldenrod;
        text-align: center;
        font-size: x-large;
    }
    h4{
        Color:black;
        text-align: left;
        font-size: large;
    }
    h1{
        color: brown;
    }
    img{
        text-align: center;

    }
    .grid-item:hover {
        transform: scale(1.2); /* Aumenta o tamanho em 10% quando o mouse está em cima */
      }